<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-itunes-app" content="app-id=1137397744">
		<meta name="theme-color" content="#ffffff">
		<meta name="description"
		content="Generate secure, strong, and random passwords to maintain security and privacy online with password generator.">
		<meta property="og:title" content="Strong Password Generator">
		<meta property="og:description"
		content="Generate secure, strong, and random passwords to maintain security and privacy online with password generator.">
		<meta property="og:image" content="https://pg.env.com.bd/banner.jpg">
		<meta property="og:url" content="https://pg.env.com.bd">
		<meta property="og:site_name" content="Password Generator">
		<title>Strong Password Generator</title>
		<link rel="canonical" href="https://pg.env.com.bd">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
		<link href="./css/styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="container generator py-4" id="app">
			<h1>Password Generator</h1>
			<p class="mb-3">Need a password? Try the Strong Password Generator. Generate secure, random passwords to stay
				safe online.
			</p>
			<div class="well generated-password" style="border: 1px solid #e1e1e1; padding: 10px 15px; border-radius: 6px;">
				<div class="password-wrapper" v-html="coloredPassword"></div>
			</div>
			<div class="row password-buttons mt-3">
				<div class="col-md-6">
					<button type="button" class="btn btn-primary btn-block" v-on:click="generate"><i
					class="fa fa-refresh"></i> Regenerate</button>
				</div>
				<div class="col-md-6">
					<button type="button" class="btn btn-secondary btn-block" v-on:click="copy" id="copy-button">
					<i class="fa fa-clipboard"></i> <span>Copy to Clipboard</span>
					</button>
				</div>
			</div>
			<div class="row password-options">
				<div class="col-md-3">
					<h3>Type</h3>
					<div class="form-group">
						<div class="radio">
							<label>
								<input name="type" value="password" type="radio" v-model="type" />
								Password
							</label>
						</div>
						<div class="radio">
							<label>
								<input name="type" value="passphrase" type="radio" v-model="type" />
								Passphrase
							</label>
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<h3>Length</h3>
					<div class="form-group" v-if="type === 'password'">
						<label for="length">Characters: <span v-text="length"></span></label>
						<input id="length" name="length" type="range" min="8" max="128" step="1" v-model="length" />
					</div>
					<div class="form-group" v-if="type === 'passphrase'">
						<label for="length">Words: <span v-text="numWords"></span></label>
						<input id="numWords" name="numWords" type="range" min="4" max="20" step="1" v-model="numWords" />
					</div>
				</div>
				<div class="col-md-4 additional-options">
					<h3>Additional Options</h3>
					<div class="row" v-if="type === 'passphrase'">
						<div class="col-md-12">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="capitalize" v-model="capitalize" />
									Capitalize
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="includeNumber" v-model="includeNumber" />
									Include Number
								</label>
							</div>
						</div>
					</div>
					<div class="row" v-if="type === 'password'">
						<div class="col-md-6">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="uppercase" v-model="uppercase" />
									A-Z
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="lowercase" v-model="lowercase" />
									a-z
								</label>
							</div>
						</div>
						<div class="col-md-6">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="numbers" v-model="numbers" />
									0-9
								</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" name="special" v-model="special">
								!@#$%^&*-_/=?+.
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<h3>Evaluation</h3>
		<p>Your password's score: <strong v-text="score" v-bind:class="scoreClass"></strong></p>
		<p>Time it would take for an attacker to crack this password: <strong v-text="crackTime"></strong></p>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
	(window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"><\/script>'));
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
	<script>
	((window.jQuery && window.jQuery.fn && window.jQuery.fn.modal) || document.write(
	'<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"><\/script>'));
	</script>
	<script src="https://unpkg.com/vue"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
	<script src="./js/wordlist.js"></script>
	<script src="./js/password-generator.js"></script>
</body>
</html>